# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.g.dart

# IDE
.idea/
.vscode/
*.iml

# Web
web/flutter_service_worker.js

# macOS
.DS_Store
